header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
        li {
            border-block: 1px solid rebeccapurple;
            border-inline-end: 1px solid rebeccapurple;

            &:first-child {
                border-inline-start: 1px solid rebeccapurple;
            }

            a {
                padding: 10px 20px;
            }
        }
    }
}